@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;1,500&family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');


:root{
    --primary-color:#669ccb;
    --primary-color-dark:#5681a7;
    --secondary-color:#282d31;
    --text-light: #767268;
    --extra-light:#f3f4f6;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.section__container{
    padding: 5rem 1rem;
    max-width: var(--max-width);
    margin: auto;
}
.section__title{
     font-size: 2rem;
     font-weight: 500;
     color: var(--primary-color);
     margin-bottom: 1rem;
     text-align: center;
}
.section__subtitle{
    font-size: 1rem;
    font-style: bold;
    color: var(--primary-color);
    margin-bottom: 5rem;
    text-align: center;
}
img{
    width: 100%;
}
body{
    font-family: 'Nunito', sans-serif;
font-family: 'Poppins', sans-serif;
}
nav{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 1rem;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__logo{
    text-decoration: none;
    color: var(--extra-light);
    font-size: 1.5rem;
}
.nav_links{
    display: none;
    list-style: none;
    align-items: center;
    gap: 2rem;
}
.link{
    color: var(--extra-light);
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
.link:hover{
    color: var(--primary-color);
}
header{
    height: 100vh;
    background-image: linear-gradient(rgba(45,92,132,.5),rgba(45,92,132,.5)),url(background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header.section__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--extra-light);
}
.header__content h1{
    font-size: 5rem;
    font-weight: 400;
    line-height: 5rem;
}
.header__content p{
    text-align: center;
}
.header__content button{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--extra-light);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.header__content button:hover {
    background-color: var(--primary-color-dark);
}

.journey__container{
    background-color: var(--secondary-color);
}
.journey__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.state__card{
    background-color: var(--extra-light);
}
.state__name{
    padding: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-light);
    cursor: pointer;
}
.state__name i {
    font-size: 1.5rem;
}
.state__name span {
    font-style: italic;
}
.banner__container{
    background-image: linear-gradient(rgba(35, 71, 103,.5),rgba(35, 71, 103,.5),)url(Kashi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner__container .section__container{
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
}
.banner__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    color: var(--extra-light);
}
.banner__content h2{
    font-size: 2rem;
    font-weight: 400;
}
.banner__content button{
    padding: 0.5rem 2rem;
    outline: none;
    border: 2px solid var(--secondary-color);
    background-color: transparent;
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
}
.display__container{
    background-color: var(--secondary-color);
}
.display__container :is(.section__title, .section__subtitle){
    color: var(--text-dark);
}
.display__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.display__card{
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--extra-light);
    text-align: center;
}
.display__card i {
    font-size: 2rem;
    color: var(--primary-color);
}
.display__card h4{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    color: var(--text-dark);
}
.display__card p{
    font-size: .8rem;
    padding: 0 1rem;
    color:var(--text-dark);
}
.display__grid .grid-1{
    grid-area: 1/1/3/3;
}
footer{
    background-color: var(--text-light);
    color: var(--secondary-color);
}
footer .section__container{
    display: grid;
    gap: 1rem;
    text-align: center;
}
footer h4{
    font-size: 1.5rem;
    font-weight: 500;
}
social__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.social__icon i{
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}
footer p{
    font-style: italic;
}

@media(min-width:640px){
    .nav_links{
        display: flex;
    }
    header .section__container{
        justify-content: flex-start;
    }
    .header__content{
        max-width: 400px;
        align-items: flex-start;
    }
    .header__content p{
        text-align: left;

    }
    .journey__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .display__grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .display__card{
        gap: 0;
    }
    .display__card i{
        font-size: 1.75rem;
    }
    .display__card h4{
        font-size: 1rem;
    }
    .display__card p{
        font-size: 0.7rem;
}


@media(min-width:786px) {
    .banner__container .section__container{
        justify-content: flex-end;
    }
 
    .banner__container{
        align-items: flex-end;
        text-align: right;
        max-width: 800px;
    }
}
.display__card{
    gap: 5rem;
}
.display__card i{
    font-size: 2.5rem;
}
.display__card p {
    font-size: 0.8rem;
}
}

@media (min-width:1024px){
  .display__card{
    gap: 1rem;
  }
  .display__card i{
    font-size: 3rem;
}
.display__card h4 {
    font-size: 1.5rem;
}
.display__card p {
    font-size: 1rem;
}
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    border-bottom: 1px solid rgb(26, 219, 26);
    color: rgb(255, 255, 255);
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

 #element{
    color: rgb(188, 226, 218);
    font-size: 8.5vw;
  }
  
  .img_back{
    float: left;
    width: 600px;
  }
 .tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
  background: #3b5998;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #29487d;
}

.tooltip-container:hover .tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.icon .layer {
  width: 55px;
  height: 55px;
  border: 3px solid #1877f2;
  border-radius: 50%;
  transition: transform 0.3s, border 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 15px rgba(24, 119, 242, 0.7), 0 0 20px rgba(24, 119, 242, 0.5);
}

.icon:hover .layer {
  transform: rotate(-35deg) skew(20deg);
  box-shadow: 0 0 30px rgba(24, 119, 242, 1), 0 0 40px rgba(24, 119, 242, 0.7);
}

.layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}

.layer span,
.text {
  color: #1877f2;
  border-color: #1877f2;
}

.icon:hover .layer span {
  box-shadow: -1px 1px 3px #1877f2;
}

.icon .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .text {
  bottom: -35px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.facebookSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1877f2;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    #1877f2 0%,
    #3b5998 25%,
    #1877f2 50%,
    #3b5998 75%,
    #1877f2 100%
  );
}

.user {
  display: flex;
  gap: 10px;
}

.img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #1877f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.name {
  font-size: 17px;
  font-weight: 700;
  color: #1877f2;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}

.about {
  color: #ccc;
  padding-top: 5px;
}

   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
   }
   
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
   button:hover::before {
    width: 105%;
   }
   
   button:hover {
    color: #111;
   }
   ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  .example-2 .icon-content a[data-social="spotify"] .filled,
  .example-2 .icon-content a[data-social="spotify"] ~ .tooltip {
    background-color: #1db954;
  }
  .example-2 .icon-content a[data-social="pinterest"] .filled,
  .example-2 .icon-content a[data-social="pinterest"] ~ .tooltip {
    background-color: #bd081c;
  }
  .example-2 .icon-content a[data-social="dribbble"] .filled,
  .example-2 .icon-content a[data-social="dribbble"] ~ .tooltip {
    background-color: #ea4c89;
  }
  .example-2 .icon-content a[data-social="telegram"] .filled,
  .example-2 .icon-content a[data-social="telegram"] ~ .tooltip {
    background-color: #0088cc;
  }
  .radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(164, 215, 246);
    border-radius: 15px;
    box-shadow: rgb(71, 175, 239) 0px 5px 29px 5px;
  }
  
  .radio-buttons label {
    position: relative;
    cursor: pointer;
  }
  
  .radio-buttons input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .option {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: black;
    border-radius: 14px;
    padding: 10px;
  }
  
  .option:hover {
    background-color: rgb(137, 207, 251);
  }
  
  .radio-buttons input[type="radio"]:checked + .option {
    background-color: rgb(71, 175, 239);
    box-shadow: rgb(11, 70, 107) 0px 5px 29px 5px;
  }
  button {
    position: relative;
    padding: 12px 35px;
    background: #fec195;
    font-size: 17px;
    font-weight: 500;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #fec195;
    box-shadow: 0 0 25px #fec1958c;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #fffdef;
  }
    